# Unity-специфичное
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
*.log

# Авто-генерируемые файлы VS/Rider
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
.vs/
.consulo/

# Билды
*.apk
*.aab
*.unitypackage
*.app

# Unity-сгенерированные мета-файлы мусора
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Адресаблы и временные файлы
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa*

# Кэши тестов
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*